@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  font-family: "Roboto", sans-serif;
}
.light-blue {
  color: rgb(32, 53, 139);
}
.bg-light-blue {
  background-color: rgb(32, 53, 139);
}
.magenta {
  color: rgb(139, 32, 107);
}
.bg-magenta {
  background-color: rgb(139, 32, 107);
}

.gold {
  color: rgb(139, 118, 32);
}
.bg-gold {
  background-color: rgb(139, 118, 32);
}

.light-green {
  color: rgb(32, 139, 64);
}
.bg-light-green {
  background-color: rgb(32, 139, 64);
}
.transparent {
  background: transparent !important;
}
.logo-green {
  background-color: rgb(126, 217, 87);
}
.navbar {
  background: rgb(0, 0, 0);
  padding-top: 0px;
  padding-bottom: 0px;
}
.nav-inner {
  min-height: 0px;
  height: inherit;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-brand,
.navbar-nav li a {
  line-height: 70px !important;
  height: 70px;
  padding-top: 0px !important;
  color: white;
}
.navbar-brand {
  font-size: 1.5em;
  padding-bottom: 0px;
}
.navbar-nav li a {
  text-transform: uppercase;
}

#navbarNav {
  justify-content: flex-end;
}

.header-icon {
  width: 50px;
  margin-right: 10px;
}

body {
  background-color: rgb(227, 230, 241);
}
